<!DOCTYPE html>
<html lang="en" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teamstatus</title>
</head>
<body>
<script>
function redonchange(color) {
	var label = document.getElementById("lblred"); 
	label.innerHTML = color;
	document.getElementById("colorform").submit();
}
function greenonchange(color) {
	var label = document.getElementById("lblgreen"); 
	label.innerHTML = color;
	document.getElementById("colorform").submit();
}
function blueonchange(color) {
	var label = document.getElementById("lblblue"); 
	label.innerHTML = color;
	document.getElementById("colorform").submit();
}
function setColors(red, green, blue) {
	var inputRed = document.getElementById("tokenRed"); 
	inputRed.value = red;
	var inputGreen = document.getElementById("tokenGreen"); 
	inputGreen.value = green;
	var inputBlue = document.getElementById("tokenBlue"); 
	inputBlue.value = blue;
	document.getElementById("colorform").submit();
}
</script>
Current status: <%=status%>
<br/>
<br/>
<form id="colorform" action="/" method="post">
<table>
<tr>
	<td>
		Red:	
	</td>

	<td>
	<div>
		<input type="range" id="tokenRed" name="inputred" min="0" max="255" value="<%=red%>" onchange=redonchange(this.value)>
		<label id="lblred"><%=red%></label>
	</div>
	</td>
	<td>
		<button onclick="setColors(255,0,0)">Red</button>
	</td>
</tr>
<tr>
	<td>
		Green:	
	</td>
	<td>
		<input type="range" id="tokenGreen" name="inputgreen" min="0" max="255" value="<%=green%>" onchange=greenonchange(this.value)>
		<label id="lblgreen"><%=green%></label>
	</td>
	<td>
		<button onclick="setColors(0,255,0)">Green</button>
	</td>
</tr>
<tr>
	<td>
		Blue:	
	</td>
	<td>
		<input type="range" id="tokenBlue" name="inputblue" min="0" max="255" value="<%=blue%>" onchange=blueonchange(this.value)>
		<label id="lblblue"><%=blue%></label>
	</td>
	<td>
		<button onclick="setColors(0,0,255)">Blue</button>
	</td>
</tr>
<tr>
	<td>
		--------
	</td>
	<td>
		--------

	</td>
</tr>
<tr>
	<td>
		Token: 
	</td>
	<td>
		<input type="text" id="token" name="inputtoken" size="50">
	</td>
</tr>
<tr>
	<td>
		--------
	</td>
	<td>
		--------

	</td>
</tr>
<tr>
	<td>
	</td>
</tr>
</table>
		<input type="submit" value="Rerfresh token">
</form>
<br/>
<br/>
<table>
<tr>
	<td>
		<form id="colorform" action="/blink" method="post">
			<input type="submit" value="Blinking">
		</form>
	</td>
	<td>
		<button onclick="setColors(255,145,0)">Yellow</button>
	</td>
	<td>
		<button onclick="setColors(255,118,118)">White</button>
	</td>
</tr>
</table>
</body>
</html>

